.coverage
.idea/
Worker.ipynb
tests/__pycache__/
coverage.xml
data/
data_indices.txt
dataset_info.txt
mlartifacts/
mlruns/
mnist_model.pth
model_card.md
test_reports/
test_results.xml
dataset_info.txt
data_indices.txt
model_card.md
*.pth
*.ipynb
.venv/
*.pyc
